div.contentToChange {
    background: url("../images/bgContent.png") repeat scroll 0 0 transparent;
    border: 8px solid #BFBFBF;
    min-height: 193px;
    overflow: hidden;
    padding: 20px;
}

div.contentToChange h1 {
    border-bottom: 1px solid #ccc;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 0 20px;
    text-transform: uppercase;
}

.noFloat {
    overflow: hidden;
}

.titleText {
    background: none repeat scroll 0 0 #8D8D91;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 12px;
    min-width: 164px;
    padding: 4px 12px;
    position: relative;
    text-transform: uppercase;
}

.titleText img {
    position: absolute;
    right: 10px;
    top: 8px;
}

a img {
    border: 0 none;
}

.add_com_block {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ccc;
    color: #BBBBBB;
    font-size: 13px;
    padding: 20px;
    width: 640px;
}

.add_com_block label {
    clear: both;
    display: block;
    margin: 0 0 2px;
}

.add_com_block .text {
    background: none repeat scroll 0 0 #5C5C5F;
    border: 1px solid #8D8D91;
    color: #BBBBBB;
    height: 22px;
    margin-bottom: 4px;
    width: 200px;
}

.add_com_block .file, .add_com_block .text, .add_com_block textarea {
    margin-bottom: 6px;
}

.add_com_block textarea {
    background: none repeat scroll 0 0 #5C5C5F;
    border: 1px solid #8D8D91;
    color: #BBBBBB;
    height: 100px;
    margin-bottom: 4px;
    width: 425px;
}

.add_com_block .file {
    background: none repeat scroll 0 0 #5C5C5F;
    border: 1px solid #8D8D91;
    color: #BBBBBB;
    margin: 4px 0;
}

.add_com_block .radios {
    display: inline;
    margin-left: 12px;
}

.add_com_block .radios label {
    display: inline;
}

.add_com_block img {
    float: left;
}

.add_com_block .capch {
    background: none repeat scroll 0 0 #5C5C5F;
    border: 1px solid #8D8D91;
    color: #BBBBBB;
    float: left;
    height: 22px;
    margin: 0 0 4px 9px;
    width: 130px;
}

.add_com_block img.refresh {
    margin: 6px 0 0 9px;
}

.add_com_block .mb {
    margin-bottom: 12px;
}

.plusClear {
    clear: both;
}

.plusOverflow {
    overflow: hidden;
}

.but {
 	background: none repeat scroll 0 0 #8D8D91;
    border: medium none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.add_com_block .hide_com {
    bottom: -10px;
    position: absolute;
    right: -10px;
}

.comments-block {
    padding: 28px 0 0;
}

.com-item {
    margin-bottom: 15px;
    min-height: 95px;
}

.com-item .ava {
    border: 1px solid #606060;
    height: 80px;
    width: 80px;
}

.user_info {
    padding-left: 98px;
}

.info_panel {
    overflow: hidden;
}

.fl-left {
    float: left;
}

.info_panel strong {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.info_panel .date {
    color: #8D8D91;
    font-size: 11px;
}

.com_body {
    color: #BBBBBB;
    font-size: 13px;
}

/* paging */
div.wrapPaging {padding: 6px 0px 6px 16px; font-family: Arial, sans-serif; font-size: 14px; clear: both;}
div.wrapPaging a, div.wrapPaging span {margin: 0 1px; padding: 2px 5px; line-height: 26px; text-decoration: none;}
div.wrapPaging a {background: none; color: #025A9C !important; text-decoration: underline; font-size: 14px;}
div.wrapPaging span {background: #E8E9EC; color: #000;}
div.wrapPaging span.ways {background: none; font-size: 15px; color: #999;}
div.wrapPaging span.ways span {background: none; color: #999;}
div.wrapPaging span.ways a {font-size: 15px;}
div.wrapPaging span.divider {color: #999;}
div.wrapPaging i {font-family: Times, sans-serif; margin: 0 5px 0 0;}
div.wrapPaging a:hover {color: #ff0000;}
div.wrapPaging strong {margin: 0 15px 0 0; font-size: 16px; font-weight: bold; color: #000;}
/* end_paging */